@CHARSET "UTF-8";

body {
	text-align: center;
}

#body {
	text-align: justify;
	width: 100%;
	padding: 10px;
}

#main {
	width: 100%;
	text-align: center;
}

.hand {
	cursor: hand;
	cursor: pointer;
}

img {
	border: none;
}

.error {
	border: 2px solid red;
}